<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498494703499-klsu62hv7bs2c9a8qed9s54rl8k34gho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498494703499-klsu62hv7bs2c9a8qed9s54rl8k34gho</string>
	<key>API_KEY</key>
	<string>AIzaSyDgbAs7j32KF3yGjG2D4QEn0MGlFBtBpm4</string>
	<key>GCM_SENDER_ID</key>
	<string>498494703499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exp05</string>
	<key>PROJECT_ID</key>
	<string>exp-fifth</string>
	<key>STORAGE_BUCKET</key>
	<string>exp-fifth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498494703499:ios:6202180d388bd671b4518e</string>
</dict>
</plist>